<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fdc9741e8d50779d21484cc99bbd6ba9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_fdc9741e8d50779d21484cc99bbd6ba9" ></div>
        
</body>
<script>
    
    
            var map_fdc9741e8d50779d21484cc99bbd6ba9 = L.map(
                "map_fdc9741e8d50779d21484cc99bbd6ba9",
                {
                    center: [37.588, 126.9935],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 17,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_f273f6021806a25008d04e84523b072c = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_f273f6021806a25008d04e84523b072c.addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var marker_8eabbd81a226259611c8cd43ab5a1dae = L.marker(
                [37.586874, 126.99536],
                {
}
            ).addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var icon_5f02f95103ba569c5327257dad36adbd = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_2426cc7204dffcf834c417060fabb0bd = L.popup({
  "maxWidth": 300,
});

        
            
                var html_eb6197acbc3d68a287d0fd053ccedeb0 = $(`<div id="html_eb6197acbc3d68a287d0fd053ccedeb0" style="width: 100.0%; height: 100.0%;">         <b>국제관</b><br>         장애인 화장실, 장애인 엘리베이터, 핸드레일         </div>`)[0];
                popup_2426cc7204dffcf834c417060fabb0bd.setContent(html_eb6197acbc3d68a287d0fd053ccedeb0);
            
        

        marker_8eabbd81a226259611c8cd43ab5a1dae.bindPopup(popup_2426cc7204dffcf834c417060fabb0bd)
        ;

        
    
    
                marker_8eabbd81a226259611c8cd43ab5a1dae.setIcon(icon_5f02f95103ba569c5327257dad36adbd);
            
    
            var marker_8c1232c1792507445308bb9f41f6e3dd = L.marker(
                [37.587469, 126.994523],
                {
}
            ).addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var icon_1e98ec1f5b3314f0be5b15259750c8cc = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_5414599d13ba544aaa97cc069f05c0da = L.popup({
  "maxWidth": 300,
});

        
            
                var html_978c37a8e3c302d8c3e9db19080de91f = $(`<div id="html_978c37a8e3c302d8c3e9db19080de91f" style="width: 100.0%; height: 100.0%;">         <b>600주년기념관</b><br>         경사로, 장애인 화장실, 장애인 엘리베이터, 핸드레일         </div>`)[0];
                popup_5414599d13ba544aaa97cc069f05c0da.setContent(html_978c37a8e3c302d8c3e9db19080de91f);
            
        

        marker_8c1232c1792507445308bb9f41f6e3dd.bindPopup(popup_5414599d13ba544aaa97cc069f05c0da)
        ;

        
    
    
                marker_8c1232c1792507445308bb9f41f6e3dd.setIcon(icon_1e98ec1f5b3314f0be5b15259750c8cc);
            
    
            var marker_d30d9bd0ffc611d2c415c6583e6bdf7c = L.marker(
                [37.587422, 126.993216],
                {
}
            ).addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var icon_582fdcae4bc4711212f15e8e1c2528e3 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_338ecc6df44e7c3e33fde8adecc2811b = L.popup({
  "maxWidth": 300,
});

        
            
                var html_9a6a0a58cea4d395ce6f9bdc964ba492 = $(`<div id="html_9a6a0a58cea4d395ce6f9bdc964ba492" style="width: 100.0%; height: 100.0%;">         <b>학생회관</b><br>         경사로         </div>`)[0];
                popup_338ecc6df44e7c3e33fde8adecc2811b.setContent(html_9a6a0a58cea4d395ce6f9bdc964ba492);
            
        

        marker_d30d9bd0ffc611d2c415c6583e6bdf7c.bindPopup(popup_338ecc6df44e7c3e33fde8adecc2811b)
        ;

        
    
    
                marker_d30d9bd0ffc611d2c415c6583e6bdf7c.setIcon(icon_582fdcae4bc4711212f15e8e1c2528e3);
            
    
            var marker_7ea7c6d5a1ad2b154b62c3abf4ac2108 = L.marker(
                [37.588307, 126.994159],
                {
}
            ).addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var icon_2787681eb2b6c742f5a68382fe2089b9 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_0105cf31f10a9a9af511f2d013258abc = L.popup({
  "maxWidth": 300,
});

        
            
                var html_1f9086b70e3375a8a68f9013544fc538 = $(`<div id="html_1f9086b70e3375a8a68f9013544fc538" style="width: 100.0%; height: 100.0%;">         <b>중앙학술정보관</b><br>         경사로, 장애인 화장실, 장애인 엘리베이터, 핸드레일         </div>`)[0];
                popup_0105cf31f10a9a9af511f2d013258abc.setContent(html_1f9086b70e3375a8a68f9013544fc538);
            
        

        marker_7ea7c6d5a1ad2b154b62c3abf4ac2108.bindPopup(popup_0105cf31f10a9a9af511f2d013258abc)
        ;

        
    
    
                marker_7ea7c6d5a1ad2b154b62c3abf4ac2108.setIcon(icon_2787681eb2b6c742f5a68382fe2089b9);
            
    
            var marker_ef1b85cd9c1369120b841bef0ad614af = L.marker(
                [37.588757, 126.993186],
                {
}
            ).addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var icon_b0b8e2daf33f1302d0898183e085657a = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_6510b199d07e6f1d64c1c5ef2246720d = L.popup({
  "maxWidth": 300,
});

        
            
                var html_924896e3fde20b5113576c8787a08416 = $(`<div id="html_924896e3fde20b5113576c8787a08416" style="width: 100.0%; height: 100.0%;">         <b>교수회관</b><br>         경사로, 장애인 화장실, 핸드레일         </div>`)[0];
                popup_6510b199d07e6f1d64c1c5ef2246720d.setContent(html_924896e3fde20b5113576c8787a08416);
            
        

        marker_ef1b85cd9c1369120b841bef0ad614af.bindPopup(popup_6510b199d07e6f1d64c1c5ef2246720d)
        ;

        
    
    
                marker_ef1b85cd9c1369120b841bef0ad614af.setIcon(icon_b0b8e2daf33f1302d0898183e085657a);
            
    
            var marker_e4eb92792d369819355c1124fb1e789e = L.marker(
                [37.588744, 126.992595],
                {
}
            ).addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var icon_c3033e8b0c7bc280d587dec388e0c66e = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_fc563ec2010de4f91961d7d8bf432400 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_a3ab16b739122c06d5c7fa53ad56da21 = $(`<div id="html_a3ab16b739122c06d5c7fa53ad56da21" style="width: 100.0%; height: 100.0%;">         <b>경영관</b><br>         경사로, 장애인 화장실, 장애인 엘리베이터, 핸드레일         </div>`)[0];
                popup_fc563ec2010de4f91961d7d8bf432400.setContent(html_a3ab16b739122c06d5c7fa53ad56da21);
            
        

        marker_e4eb92792d369819355c1124fb1e789e.bindPopup(popup_fc563ec2010de4f91961d7d8bf432400)
        ;

        
    
    
                marker_e4eb92792d369819355c1124fb1e789e.setIcon(icon_c3033e8b0c7bc280d587dec388e0c66e);
            
    
            var marker_99ac9d0929bd5469a6058ab7826d2fe2 = L.marker(
                [37.58904, 126.992249],
                {
}
            ).addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var icon_d0632d8e9115220161c5e35836396b83 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_5fa6b051586fef09aeb304e41c7266b8 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_16e9f0baeacb433bfc2302b26d540ac2 = $(`<div id="html_16e9f0baeacb433bfc2302b26d540ac2" style="width: 100.0%; height: 100.0%;">         <b>다산경제관</b><br>         경사로, 장애인 엘리베이터, 핸드레일         </div>`)[0];
                popup_5fa6b051586fef09aeb304e41c7266b8.setContent(html_16e9f0baeacb433bfc2302b26d540ac2);
            
        

        marker_99ac9d0929bd5469a6058ab7826d2fe2.bindPopup(popup_5fa6b051586fef09aeb304e41c7266b8)
        ;

        
    
    
                marker_99ac9d0929bd5469a6058ab7826d2fe2.setIcon(icon_d0632d8e9115220161c5e35836396b83);
            
    
            var marker_0473147bf6bf660f0d3a04d2863c263a = L.marker(
                [37.58835, 126.991966],
                {
}
            ).addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var icon_23d7d6047355a135c5f2067575b2b5a7 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_52816e8d02ef4f1e1155a4c13a52fc2b = L.popup({
  "maxWidth": 300,
});

        
            
                var html_facc349f510f5ae2da5b2d1e86467d5a = $(`<div id="html_facc349f510f5ae2da5b2d1e86467d5a" style="width: 100.0%; height: 100.0%;">         <b>호암관</b><br>         경사로, 장애인 화장실, 장애인 엘리베이터, 핸드레일         </div>`)[0];
                popup_52816e8d02ef4f1e1155a4c13a52fc2b.setContent(html_facc349f510f5ae2da5b2d1e86467d5a);
            
        

        marker_0473147bf6bf660f0d3a04d2863c263a.bindPopup(popup_52816e8d02ef4f1e1155a4c13a52fc2b)
        ;

        
    
    
                marker_0473147bf6bf660f0d3a04d2863c263a.setIcon(icon_23d7d6047355a135c5f2067575b2b5a7);
            
    
            var marker_5aae407f2d513c2614deae3c5aac1821 = L.marker(
                [37.589073, 126.99159],
                {
}
            ).addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var icon_a7941943263bac481b7d2e0ffda238b0 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_c8f4767d1f5bcf508ac1e5fea509ed54 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_acc3ae0e4ef2a18bc50954a30d994785 = $(`<div id="html_acc3ae0e4ef2a18bc50954a30d994785" style="width: 100.0%; height: 100.0%;">         <b>퇴계인문관</b><br>         경사로, 장애인 화장실, 장애인 엘리베이터, 핸드레일         </div>`)[0];
                popup_c8f4767d1f5bcf508ac1e5fea509ed54.setContent(html_acc3ae0e4ef2a18bc50954a30d994785);
            
        

        marker_5aae407f2d513c2614deae3c5aac1821.bindPopup(popup_c8f4767d1f5bcf508ac1e5fea509ed54)
        ;

        
    
    
                marker_5aae407f2d513c2614deae3c5aac1821.setIcon(icon_a7941943263bac481b7d2e0ffda238b0);
            
    
            var marker_0dc9b2791a218e80c1ca246930345290 = L.marker(
                [37.587817, 126.990931],
                {
}
            ).addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var icon_72991762a696bd0a82fc159efb87ae1a = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d6d63ecdfadecaa7bdeeaa7423cb4b93 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_0173f64c55ea35f2accfb4ff4a204110 = $(`<div id="html_0173f64c55ea35f2accfb4ff4a204110" style="width: 100.0%; height: 100.0%;">         <b>수선관</b><br>         경사로, 장애인 화장실, 장애인 엘리베이터, 핸드레일         </div>`)[0];
                popup_d6d63ecdfadecaa7bdeeaa7423cb4b93.setContent(html_0173f64c55ea35f2accfb4ff4a204110);
            
        

        marker_0dc9b2791a218e80c1ca246930345290.bindPopup(popup_d6d63ecdfadecaa7bdeeaa7423cb4b93)
        ;

        
    
    
                marker_0dc9b2791a218e80c1ca246930345290.setIcon(icon_72991762a696bd0a82fc159efb87ae1a);
            
    
            var marker_81f33d6a7a982934f0489442880056b7 = L.marker(
                [37.587456, 126.990473],
                {
}
            ).addTo(map_fdc9741e8d50779d21484cc99bbd6ba9);
        
    
            var icon_3a9c0ae86ad4bd17c64525a3fb50595d = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_3ce2edd2a081eec798ca64668f50319c = L.popup({
  "maxWidth": 300,
});

        
            
                var html_62a5d85c46977aaf320069b7dc646417 = $(`<div id="html_62a5d85c46977aaf320069b7dc646417" style="width: 100.0%; height: 100.0%;">         <b>법학관</b><br>         경사로, 장애인 화장실, 장애인 엘리베이터, 핸드레일         </div>`)[0];
                popup_3ce2edd2a081eec798ca64668f50319c.setContent(html_62a5d85c46977aaf320069b7dc646417);
            
        

        marker_81f33d6a7a982934f0489442880056b7.bindPopup(popup_3ce2edd2a081eec798ca64668f50319c)
        ;

        
    
    
                marker_81f33d6a7a982934f0489442880056b7.setIcon(icon_3a9c0ae86ad4bd17c64525a3fb50595d);
            
</script>
</html>